body.div {
  font-size: 23px;
  text-align: center;
}

.inputs {
  font-weight: bold;
  font-size: medium;
  color: darkblue;
}

button {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

button:active,
button:focus {
  outline: none;
}

button:hover {
  background-position: -20px -20px;
}

button:focus:not(:active) {
  box-shadow: rgba(125, 155, 201, 0.911) 0 0 0 .125em;
}


#example1 {
  background-color: hsl(212, 63%, 72%);

}
img {
border: 4px solid rgb(230, 238, 243);
border-radius: 15px;
width:160px;height:180px;
/* padding: 5px;
width: 150px; */
}

img:hover {
box-shadow: 0 0 2px 1px rgba(225, 234, 245, 0.993);
}