* {
  margin: 0;
  padding: 0;
  
}

body {
  margin: 0;
  font-family: 'Open-Sans',sans-serif;
  color: #343a4a;
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  /* min-height: 100vh; */
  
  padding-top: 20px;
  padding-bottom: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
